/*******************==[Animate]==*******************/
*{
 -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
      -o-transition: all 400ms ease;
         transition: all 400ms ease;
}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms all ease;
    -moz-transition: 400ms all ease;
    -ms-transition: 400ms all ease;
    -o-transition: 400ms all ease;
    transition: 400ms all ease;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    height: 0;
}

.animate-show {
  line-height: 20px;
  opacity: 1;
/*
  padding: 10px;
*/
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  /*padding: 0 10px;*/
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:62px;
}