/**
 * @author Rodrigo Ahumada, Front-end Developer
 * @description Custom CSS initial and global Config.
 * @link http://rholo.cl/
 * @version 2.0.1
 * @licence free (public domain)
 */
 html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,hr,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,hgroup,menu,footer,header,nav,section,summary,time,mark,audio,video,img,main, input, textarea, select
 {border:0;margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
 article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,nav,section,audio,video,main,img{display:block;}
html{font-size:62.5%;-webkit-text-size-adjust: 62.5%;-ms-text-size-adjust: 62.5%;}
body{font-weight:normal;line-height: 1.6875;
    -webkit-font-smoothing  : antialiased;
    -webkit-touch-callout   : none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select     : text; /* prevent copy paste, to allow, change 'none' to 'text' */
    }

h1 {font-size: 2.4rem;}
h2 {font-size: 2.2rem;}
h3 {font-size: 2.0rem;}
h4 {font-size: 1.8rem;}
h5 {font-size: 1.6rem;}
h6 {font-size: 1.4rem;}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal
}
p, span, label, a, li, ol, strong {
    font-size: 1.3rem;
    line-height: 1.8;
    color: inherit;
}
small {font-size: 1.1rem;}
strong{font-weight: bold;}

a{text-decoration:none;color: inherit;}
a:hover{text-decoration: underline;}
a,a:link,a:visited,a:hover,a:active{outline:0;}
a img{border:0;}

li {list-style-type: none;}
textarea {
    vertical-align: top;
    resize: vertical;
    font-family: inherit;
    width: 100%;
    padding: 10px;
}
input {
  vertical-align: middle;
}
select {
  vertical-align: middle;
  -webkit-appearance: menulist-button;
  background: none;
}
input, select {
  outline: none;
}
input[type="search"]::-ms-clear {
    display: none;
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
input[type="file"] {
    background: none;
}
input[type="button"],
input[type="text"],
input[type="password"],
input[type="search"],
select,
button,
textarea{
    border:0
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    font-weight: 700;
}
button:disabled{
    cursor: not-allowed;
    opacity: .5;
}
/**
 * Table
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
}
td,tr {border: 0;}
td + td {
    border-left: 1px solid #EAEAEA
}
td, th, tfoot td {
    padding: 7px;
}
